<div class="main gap-12">
    <div class="col gap-2">
        <p>Hi, my name is</p>
        <div class="row gap-2 justify-content-space-between breakpoint-sm">
            <app-big-title>Bradley Oosterveen</app-big-title>
            <app-small-title>C# • Angular • PHP</app-small-title>
        </div>
        <p>I’m a student at Windesheim, and I love solving problems using code.</p>
    </div>
    <app-seperator></app-seperator>
    <div class="row justify-content-space-between">
        <div class="row gap-12">
            <a href="https://github.com/TheRealHavoc" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/bradley-oosterveen-b6552a177/" target="_blank">LinkedIn</a>
            <a href="mailto:bradleyoosterveen@gmail.com" target="_blank">E-mail</a>
        </div>
        <div class="row">
            <a href="/Knowledge-Vault/" target="_blank">Knowledge Vault</a>
        </div>
    </div>
</div>
